
.body{

    /* margin-left: 5%; */
    display: flex;
}

section {
    padding: 2rem 6%;
}

.back{

    margin-top: 1%;
    /* margin-left: 2%;    */
    margin-bottom: 2%;
}

.back a{

    color: #755365;

}
.kiri , .kanan{

    display: flex;
    flex-direction: column;
    /* width: 45vw;
    height: 38vh; */
}

.judul h1{

    font-weight: 600;
    font-size: 40px;
    color: #5F2A5D;

}

.case{

    /* width: 600px; */
    background-color: #F9EEE1;
    display: flex;
    /* gap:5%; */
    padding: 5%;
    border-radius: 20px;
    gap: 1rem;
    justify-content: space-between;

}

.logo {

    width: 80px;
    display: flex;
    gap:5%;
}

.ovo , .gopay , .Bank{

    width: 22vw;
    display: flex;
    align-items: center;
}

.lainnya{

    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* gap:7%; */
    flex-wrap: wrap;
}

.lainnya .logo img,
.Bank .logo img {
    width: 55px;
}

.kategori{

    margin-left: 2%;

}

p{
    color: #667483;
    font-weight: 300;
    font-size: 14px;
}

label{

    font-size: 18px;
    font-weight: 600;
}

h3{

    font-size: 16px;
    color: #667483;
    font-weight: 500;

}

.gambar img{

    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.desc{

    /* width: 300px; */
}

.descFoto{
    width: 25vw;
}

.harga{

    margin-top: 2%;
}

.harga h3{

    color: red;
    font-size: 30px;
    font-weight: 600;

}

.desc h1{

    color: #5F2A5D;
    font-size: 24px;
}

.infoJadwal{
    color: #FF885E;
    margin-top: 3%;
    font-size: 14px;

}

.infoJadwal span{


    font-weight: 600;

}

.fa-regular {
    margin-right: 2px;
}


input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    min-width: 20px;
    min-height: 20px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #FF885E;
    /* background-color: #FF885E; */
    position: relative;

}

input[type="radio"]::after {
    content: "";
    display: none;
    position: absolute;
    top: 3px;
    left: 3.2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #FF885E;
}

input[type="radio"]:checked::after {
    display: block;
}

button{

    background-color: #5F2A5D;
    color: white;
    border: none;
    width: 210px;
    height: 60px;
    /* margin-bottom: 2rem;   */
    /* margin-left: 5%; */
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 2rem;
}

button:hover {
    background-color: #FF885E; 
    color: #F9EEE1;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

#btn-vol {
    margin-top: 1rem;
}

#case-vol {
    margin-bottom: 0;
}


@media(max-width: 768px){
    .judul h1 {
        font-size: 32px;
    }

    .harga h3 {
        font-size: 24px;
    }

    .kategori {
        margin: 0;
    }


    .body {
        flex-direction: column-reverse;
    }

    .case {
        flex-direction: column-reverse;
        margin-bottom: 2rem;
    }

    .descFoto {
        align-self: center;
        width: 100%;
        height: 30vw;
    }

    .gambar {
        /* display: flex;
        align-content: center;
        align-self: center; */
        /* justify-self: center; */
        /* width: 50vw; */
    }

    .infoJadwal {
        margin-top: 0.5rem;
    }

    .ovo, .gopay, .Bank {
        width: auto;
    }

    .lainnya {
        gap: 1rem;
    }
}

@media(max-width: 480px) {
    .judul h1 {
        font-size: 24px;
    }
}