section {
    padding: 2rem 6%;
}

h1{
    color: #5F2A5D;
    /* margin: 2rem; */
    margin-bottom: 1rem;
}

.card{
    /* margin: 50px; */
    /* margin-top: 0; */
    background-color: #F9EEE1;
    padding: 40px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input{
    display: flex;
    margin: 10px;
    align-items: flex-start;
}

.card label{
    /* display: flex; */
    width: 200px;
    font-weight: 600;
}

select, input{
    border: 1px solid #5F2A5D;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
}

.pengajar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
    margin-bottom: 5px;
}

.input_pengajar{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input_pengajar:nth-of-type(2) {
    gap: 0.5rem;
}

.input_pengajar p{
    width: 330px;
}

.input_pengajar p, .input_pengajar a {
    font-size: 14px;
}

button{
    border: 1px solid #5F2A5D;
    padding: 10px 15px;
    /* margin: 50px;
    margin-top: 0; */
    border-radius: 20px;
    background-color: #5F2A5D;
    color: #F9EEE1;
}

button:hover{
    border: 1px solid #5F2A5D;
    padding: 10px 15px;
    /* margin: 50px;
    margin-top: 0; */
    border-radius: 20px;
    background-color: transparent;
    color: #5F2A5D;
}

#photo{
    border: none;
}

input #file-upload-button{
    border: 1px solid #5F2A5D;
    padding: 10px;
    margin: 50px;
    margin-top: 0;
    border-radius: 20px;
    background-color: #5F2A5D;
    color: #F9EEE1;
}

.alert {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
}


.alert ul li {
    margin-left: 0.4%; /* Adjust as needed */
}

.alert ul li {
    font-weight: bold;
    font-size: 14px;
    color: red;
}


@media(max-width: 768px) {
    .input {
        flex-direction: column;
    }

    .input_pengajar p, .input_pengajar a {
        font-size: 12px;
    }
}